# Dependencies
node_modules/

# Production build
dist/ 
public/bundle.js 
public/bundle.js.LICENSE.txt 
public/bundle.js.map  
public/output.css     

# Environment variables
.env

# Logs and Temporary Files 
*.log                 
*.tmp    

src/server/uploads/*.wav

# System and IDE Files 
.DS_Store             
**/.DS_Store
.vscode/              
