# Dependencies
node_modules/

# Production build
dist/ 
public/bundle.js 
public/bundle.js.LICENSE.txt 
public/bundle.js.map  
public/output.css     
ml_service/output/   

# Environment variables
.env

# Logs and Temporary Files 
*.log                 
*.tmp                

# System and IDE Files 
.DS_Store             
**/.DS_Store
.vscode/              
