# Python virtual environment
venv/
.vscode

# Python cache files
**/__pycache__/

# Model weights and large files
model_weights/*
!model_weights/.gitkeep
open_musiclm/laion_clap/630k-audioset-best.pt

# Temporary files
input/*.wav
output/*.wav